@import "fonts.less"; 
@import "/bootstrap/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

.lazy-load, .lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

.lazy-loaded { opacity: 1; }


//@blue: #2980B9;
//@green: #16A085;
//@orange: #d35400;

.inner-shadow (@x: 2px, @y: 2px, @blur: 0px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}
.cover{
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body{
	background: url(../images/escheresque.png) repeat;
	padding-bottom: 30px;
}

header{
	padding:25px 0; 
	background: #fff;
	h1{
		font-size: 60px;
		line-height: 60px;
		margin-bottom: 0;
		text-align: center;
		color: @belize-hole;
		font-family: "cartonslab";
		@media (max-width: @screen-xs-max) {
			font-size: 40px;
			line-height: 40px;
			margin-bottom: 15px;
		}
	}
	h3{
		font-size: 30px;
		color: #BDC3C7;
		text-align: center;
		margin-top: 0;
		font-family: arial;
		@media (max-width: @screen-xs-max) {
			font-size: 26px;
		}
	}
	&.inner{
		position: relative;
		padding: 0;
		overflow: hidden;
		@media (max-width: @screen-xs-max) {
			padding:0;
		}
		.wrap{
			padding: 15px 0;
			.transition;
			.navigation{
				margin-top: -67px;
				height: 0;
				overflow: hidden;
				a{
					.transition(.4s,ease-out);
					margin-top: -67px;
					opacity: 0;
					color: @gray-lighter;
					text-align: center;
					display: block;
					font-size: 2em;
					height: 67px;
					span{
						@media (max-width: @screen-xs-max) {
						line-height: 67px;
						}
					}
					div{
						font-size: 14px;
						@media (max-width: @screen-xs-max) {
							display: none;
						}
					}
					&:hover{
						color:#fff;
						text-decoration: none;
					}
				}
			}
			&.active{
				background: @belize-hole;
				.navigation{
					height: auto;
					a{
						margin-top: 0;
						opacity: 1;
						&:after{
							.transition;
							content: "";
							display: block;
							border-radius: 3px;
							border:3px solid #fff;
							opacity: 0;
							width: 10px;
							margin: 0 auto;
						}
						&:hover{
							&:after{
							opacity: 1;
							width: 98%;
							}
						}
						&.active{
							color: darken(@belize-hole,10%)
;						}
					}
				}
				.btn{
					margin-top: 65px;
					opacity: 0;
					height:0;
				}
				button{
					color: @belize-hole;
					&:hover{
						color: @belize-hole;
					}
				}
			}
			.btn{
				padding: 0;
				text-align:center;
				margin: 0 auto;
				display: block;
				height: auto;
				.transition(.4s,ease-out);
				opacity: 1;
				&:hover{
					text-decoration: none;
				}
				strong{
					color: @belize-hole;
					font-family: "cartonslab";
					font-size: 28px;
					display: block;
				}
				span{
					color: #BDC3C7;
					font-size: 18px;
				}
				@media (max-width: @screen-xs-max) {
					text-align: left;
					white-space: normal;
					padding-left: 10px;
					strong{
						font-size: 1.3em;
						line-height: 60px;
					}
					span{
						display: none;
					}
				}
			}
			button{
				background: transparent;
				font-size: 2em;
				color:@gray;
				border: none;
				padding:0;
				line-height: 67px;
				width: 100%;
				&:hover{
					color: @peter-river;
				}
			}
			&.active{
				background: @peter-river;
			}
		}
	}
}

.item{
	display: block;
	border: 1px solid @gray-light;
	border-bottom: 2px solid @gray-light;
	background: rgba(255,255,255,.5);
	border-radius: 6px;
	white-space: normal;
	margin-bottom: 15px;
	.transition(.5s);
	color:@asbestos;
		&:hover{
			text-decoration: none;
			background: @asbestos;
		}
	.text{
		.transition;
		background: #fff;
		text-align: center;
		width: 99%;
		margin: 0 auto;
		padding: 1px 0;
		color: @asbestos;
		border-radius: 0 0 4px 4px;
		h3{
			font-size: 22px;
			font-family: "Lato";
		}
		p{
			color: @gray-light;
			font-size: 16px;
			margin: 0; padding-bottom: 10px;
		}
	}
}


section{
	padding-top: 30px;
	h2{
		color: @pumpkin;
		font-family: "cartonslab";
		font-size: 45px;
		margin-bottom: 0;
		@media (max-width: @screen-xs-max) {
			font-size: 30px;
		}
		text-align: center;
	}
	h3{
		font-family: "Lato";
		color: @pumpkin;
		.transition(.5s, ease-out);
	}
	p{
		color: @asbestos;
		font-size: 20px;
		margin-bottom: 30px;
	}

	&.methods{
		padding-bottom: 30px;
		h2{
			color: @pumpkin;
		}
		p{
			text-align: center;
			color: @asbestos;
		}
		.card{
			text-align: center;
			border: none;
			border-bottom: 2px solid @gray;
			background: #fff;
			border-radius: 6px;
			width: 90%;
			white-space: normal;
			.transition(.5s);
			color:@asbestos;
			strong{
				.transition;
				font-family: "Lato";
				display: block;
				font-size: 18px;
			}
			.fa{
				.transition(.2s);
				display: inline-block;
				font-size: 2.5em;
				background: @gray-lighter;
				border-radius: 50%;
				padding: 15px; 
				margin-bottom: 10px;
				color: @pumpkin;
				margin-top: 30px;
			}

			p{
				font-size: 15px;
				color: @gray-dark;
				margin:0 auto;
				width: 98%;
				padding: 10px 0;
			}
			&:hover{
				background: @pumpkin;
				
				.fa{
					margin-top:18px;
					font-size: 4.1em;
					color: #fff;
					background: none;
					padding: 10px;
					@media (max-width: @screen-xs-max) {
					margin-top:0;
					}
				}
				strong{
					color: #fff;
				}
				p{
					color: @gray-lighter;
				}
			
			}
			@media (max-width: @screen-xs-max) {
				width: 100%;
				margin-bottom: 10px;
				.fa{
					margin: 5px 10px 0 0;
					float: left;
				}
				strong{
					margin-top: 5px;
					text-align: left;
				}
				p{
					text-align: left;
				}
			}
		}
	}

	&.me{
		background: url(../images/me.jpg) no-repeat center 25%;
		padding-bottom: 10px;
		.cover;
		h2{
			text-align: left;
			color: #fff;
		}
		p{
			color: #fff;
		}
		@media (max-width: @screen-xs-max) {
			background-position: left center;
		}
		min-height:420px;
		@media (max-width: @screen-xs-max) {
			h2{
				margin-bottom: 120px;
			}
		}

		a{
			background: rgba(255,255,255, .5);
			border-radius: 6px;
			display: inline-block;
			padding: 8px 18px; 
			font-size: 22px;
			font-family: "Lato";
			.transition;
			text-decoration: none;
			&:hover{
				background: rgba(255,255,255, 1);
			}
		}

	}
	&.architecture{
		background: url(../images/escheresque.png) repeat;
		//.inner-shadow(2px,2px);
		h2{
			color: @pumpkin;
			margin-bottom: 15px;
		}
		h2{
			margin-bottom: 15px;
			text-align: center;
		}
		a{
			display: inline-block;
			background: #fff;
			padding:10px 20px;
			margin: 0 auto 20px;
			color: @pumpkin;
			font-size: 40px;
			border-radius:50%;
			.transition;
			&:hover{
				background: @pumpkin;
				color:#fff;
			}
		}
		p{
			text-align: center;
			font-size: 24px;
			color: @asbestos;
		}
		.connect{
			@media (max-width: @screen-xs-max) {
				h3{ 
					text-align: center;
				}
				a{
					margin: 0 28%;
				}
			}
		}
	}
	&.processes{
		h2{
			margin-bottom: 15px;
		}
		@media (max-width: @screen-xs-max) {
			.col-xs-3{
				padding:0; 
				button{
					width: 90%;
					display: block;
					margin: 0 auto;
					padding-left:0;
					padding-right:0;
				}
			}
		}
		.process{
			border: none;
			border-bottom: 2px solid @gray;
			width: 100%;

			.transition(.2s, ease-out);
			.fa{
				display: block;
				margin: 0px auto;
				padding: 20px;
				color: @asbestos;
				font-size: 55px;
				.transition(.25s, ease-out);
			}
			h3{
				margin: 0;
				font-weight: bold;
				font-family: "Lato";
				color: @gray-light;
				.transition(.5s, ease-out);
			}
			&:hover, &.chosen{
				background: @pumpkin;
				border:none;
				border-top: 2px-solid @carrot; 
				.fa{
					color: #fff;
				}
				h3{	
					color: #fff;
					margin-top: -7px;
					margin-bottom: 7px; 
				}
			}
			@media (max-width: @screen-sm-max) {
				h3{
					display: none;
				}
				.fa{
					font-size: 35px;
					width:50px;
					height: 50px;
					padding:10px 0;
				}
			}
		}

	}
	&.development{
		.icons{
			>div{
				text-align: center;
			}
			font-size: 6em;
			background: rgba(255,255,255,.5);
			border-radius: 6px; margin-bottom: 20px;
			span{
				display: inline-block;
				@media (max-width: @screen-xs-max) {
					display: none;
				}
			}
		}
		h3{
			color: @pumpkin;
			text-align: center;
			font-size: 28px;
			font-family: "Lato";
		}
		p{
			color: @asbestos;
			text-align: center;
		}
		a.tech{
			.item;
			.logo{
				max-height: 87px;
				padding: 10px 0;

				img{
					margin: 0 auto;
					display: block;
					max-height: 67px;
					max-width: 86%;
				}
			}

		}
	}
	&.leadership{
		h3{
			text-align: center;
		}
		p{
			text-align: center;
			a{
				color: @peter-river;
			}
		}
		ul{
			width: 60%;
			margin: 10px auto;
			font-size:1.2em;
			@media (max-width: @screen-sm-max) {
				width: 90%;
			}
		}
		.book{
			.item;
			p{
				min-height: 76px;
			}
			.cover{
				margin: 10px auto;
				img{
					margin: 0 auto;
					display: block;
					height: 112px;
				}
			}
		}
		/*
		.book{
			background: rgba(255,255,255,.5);
			color: @asbestos;
			display: block;
			padding:10px 0;
			height: 218px;
			margin-bottom: 15px;
			text-align: center;
			border: 1px solid @gray-light;
			border-bottom: 2px solid @gray-light;
			border-radius: 6px;
			.transition;
			&:hover{
				background: #fff;
				text-decoration: none;
			}
			.cover{
				margin: 10px auto;
				img{
					margin: 0 auto;
					display: block;
					max-height: 112px;
				}
			}
		}
		*/
	}
}

	.process-detail{
		margin-top: 30px;
		position: relative;
		.wrapper{
			background: rgba(255,255,255, .5);
			border-radius: 6px;
			padding: 10px 0;
			margin: 15px 0;
			@media (max-width: @screen-sm-max) {
					margin:0;
			}
		}
		.story{
			h3{
				font-size: 2em;
				color: @pumpkin;
			}
			h4{
				text-align: center;
				color: @pumpkin;
				font-family: "Lato";
			}
			.mobile-wrapper{
				position: relative;
				.resize{
					display: none;
						position: absolute;
						color: @pumpkin;
						text-shadow: -1px -1px 0 lighten(@pumpkin, 15%);
						height: 80px;
						width: 80px;
						display: block;
						left: 0;
						bottom: 0;
						background: rgba(0,0,0,.5);
						text-align: center;
						line-height: 80px;
						font-size: 45px;
						@media (max-width: @screen-sm-max) {
							left: 10%;
						}
					}
			}
			img{
				width: 100%;
			}
			p{
				text-align: left;
				@media (max-width: @screen-sm-max) {
					text-align: center;
					width: 90%;
					margin: 0 auto 15px auto;
					display: block;
				}
			}
			a{
				color: @peter-river;
			}
			@media (max-width: @screen-sm-max) {
				img{
					width: 75%;
					display: block;
					margin: 15px auto;
				}
			}
		}
		h3{
			color: #555;
			font-family: "Lato";
			font-weight: 400;
			font-size: 2.5em;
			text-align: center;
			width: 96%;
			margin-right:auto;
			margin-left:auto;
		}
		p{
			color: @asbestos;
			text-align: center;
			width: 96%;
			margin-right:auto;
			margin-left:auto;
		}

	}

