@import "fonts.less"; 
@import "/bootstrap/bootstrap.less";

@media (max-width: @screen-xs-max) { }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { }
@media (min-width: @screen-lg-min) { }

//@blue: #2980B9;
//@green: #16A085;
//@orange: #d35400;

.inner-shadow (@x: 2px, @y: 2px, @blur: 0px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}
.cover{
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




header{
	padding:25px 0; 
	h1{
		font-size: 60px;
		line-height: 60px;
		color: #666;
		margin-bottom: 0;
		text-align: center;
		color: @belize-hole;
		font-family: "cartonslab";
		@media (max-width: @screen-xs-max) {
			font-size: 40px;
			line-height: 40px;
			margin-bottom: 15px;
		}
	}
	h3{
		font-size: 30px;
		color: #BDC3C7;
		text-align: center;
		margin-top: 0;
		font-family: arial;
		@media (max-width: @screen-xs-max) {
			font-size: 26px;
		}
	}
}
section{
	padding-top: 30px;
	h2{
		color: #fff;
		font-family: "cartonslab";
		font-size: 45px;
		margin-bottom: 0;
		@media (max-width: @screen-xs-max) {
			font-size: 30px;
		}
		text-align: center;
	}
	p{
		color: #fff;
		font-size: 20px;
		margin-bottom: 30px;
	}

	&.me{
		background: url(../images/me.jpg) no-repeat center 25%;
		.cover;
		h2{
			text-align: left;
		}
		@media (max-width: @screen-xs-max) {
			background-position: left center;
		}
		min-height:420px;
		@media (max-width: @screen-xs-max) {
			h2{
				margin-bottom: 120px;
			}
		}
	}
	&.architecture{
		background: url(../images/escheresque.png) repeat;
		//.inner-shadow(2px,2px);
		h2{
			color: @pumpkin;
			margin-bottom: 15px;
		}
		.fa{
			display: block;
			width: 95px;
			height: 95px;
			background: #fff;
			margin: 10px auto 25px;
			padding: 20px;
			color: @pumpkin;
			font-size: 55px;
			border-radius:50%;
		}
		p{
			text-align: center;
			font-size: 24px;
			color: #7F8C8D;
		}
	}
	&.processes{
		background: url(../images/escheresque.png) repeat;
		padding:0 0 30px;
		h2{
			color: @pumpkin;
			margin-bottom: 15px;
		}
		@media (max-width: @screen-xs-max) {
			.col-xs-3{
				padding:0; 
			}
		}
		button{
			width: 100%;
			.transition(.2s, ease-out);
			.fa{
				display: block;
				width: 95px;
				height: 95px;
				background: transparent;
				margin: 10px auto 10px;
				padding: 20px;
				color: @pumpkin;
				font-size: 55px;
				border-radius:50%;
				.transition(.25s, ease-out);
			}
			h3{
				margin: 0;
				font-weight: bold;
				color: @pumpkin;
				.transition(.5s, ease-out);
			}
			&:hover, &.chosen{
				background: @pumpkin;
				.fa{
					background: #fff;
				}
				h3{	
					color: #fff;
					margin-top: -7px;
					margin-bottom: 7px; 
				}
			}
			@media (max-width: @screen-sm-max) {
				h3{
					display: none;
				}
				.fa{
					font-size: 35px;
					width:50px;
					height: 50px;
					padding:10px 0;
				}
			}
		}

	}
	&.process{
		background:@gray-dark;
		h2{
			color: @gray-darker;
			font-family: "fairviewregular";
		}
	}
}




