<div class="story container"> 
	<div class="row">
		<h3>Examples</h3>
		<hr>
		<div class="col-sm-8">
			<div class="mobile-wrapper" ng-click="viewFullscreen($event)">
				<img lazy-load class="lazy-load" data-src-desktop="images/kioskb.png" data-src-mobile="images/kioskb_small.jpg" src="images/blank.gif"/>
				<noscript><img src="images/kioskb.png" /></noscript>
				<span class="resize"><span class="fa fa-expand"></span></span>
			</div>
			<br/>
			<div class="mobile-wrapper">
				<img lazy-load class="lazy-load" data-src-desktop="images/kiosk.png" data-src-mobile="images/kiosk_small.jpg" src="images/blank.gif" ng-click="viewFullscreen($event)"/>
				<noscript><img src="images/kiosk.png" /></noscript>
				<span class="resize"><span class="fa fa-expand"></span></span>
			</div>
		</div>
		<div class="col-sm-4">
				<p>Here are two workflows depicting potential customer behaviors for a toy company's kiosk.</p>

				<p>When I saw the original flow (upper) I had some concerns about the amount of work a customer would have to do to get to the fun part. Since there is no other product like this out there, their motivation might not be able to overcome the work needed.</p>

				<p>That's what led me to create the lower flow. However, building it would have required the client to change their business model and that wasn't on the table. </p> 
				
				<h4>Also check out:</h4>
				<div class="list-group">
					<a class="list-group-item" href="http://communicatingdesign.com/" target="_blank">Dan Brown: Communicating Design <span class="fa fa-external-link"></span></a>
					<a class="list-group-item" href="http://www.nngroup.com/articles/workflow-expectations/" target="_blank">Jakob Nielsen: Workflow expectations <span class="fa fa-external-link"></span></a>
				</div>
				
		</div>

</div>
			