<h3>Example</h3>
<div class="row">
	<div class="col-sm-6">
		<div class="mobile-wrapper" ng-click="viewFullscreen($event)">
			<img lazy-load class="lazy-load" data-src-desktop="images/Member_Experience_Map.png" data-src-mobile="images/Member_Experience_Map_small.jpg" src="images/blank.png"/>
			<noscript><img src="images/Member_Experience_Map.png" /></noscript>
			<span class="resize"><span class="fa fa-expand"></span></span>
		</div>
	</div>
	<div class="col-sm-6">
			<p>When a recent flooring company client wanted to understand their company from a customer's perspective, I knew I'd have to map out the customer journey with an <a href="http://mappingexperiences.com/" target="blank">Experience Map</a></p>

			<p>I spoke with subject matter experts within the company and gathered data from customers across the company's universe. This information allowed us to see the entire picture and start our plan for making targeted changes.</p>

			<p>The most fundamental part was the guiding principles which we used for direction, effectively making all of our decisions intentional.</p>
			
			<h4>Also check out:</h4>
			<div class="list-group">
				<a class="list-group-item" href="http://www.adaptivepath.com/ideas/the-anatomy-of-an-experience-map/" target="_blank">The Anatomy of an Experience Map <span class="fa fa-external-link"></span></a>
				<a class="list-group-item" href="https://www.pinterest.com/ddeboard/ux-customer-experience-maps/" target="_blank">Pinterest: Customer Experience Maps <span class="fa fa-external-link"></span></a>
			</div>
			
	</div>
</div>	