<div class="story">
	<div class="row">
		<h3>Example</h3>
		<hr>
		<div class="col-sm-8">
			<div class="mobile-wrapper">
				<img lazy-load class="lazy-load" data-src-desktop="images/Member_Experience_Map.png" data-src-mobile="images/Member_Experience_Map_small.jpg" src="images/blank.gif" ng-click="viewFullscreen()"/>
				<noscript><img src="images/Member_Experience_Map.png" /></noscript>
			</div>
		</div>
		<div class="col-sm-4">
				<p>When this flooring company wanted to understand their company from a customer's perspective, I knew I'd have to map out the customer journey with an <a href="http://mappingexperiences.com/" target="blank">Experience Map</a></p>

				<p>Having a little help from the <a href="http://ux-intensive.com/" target="blank">Ux Intensive</a> I attended and information from all the customers in the company's universe, we were able to see the entire picture.</p>
		</div>

</div>
			