<div class="story container"> 
	<div class="row">
		<h3>Example</h3>
		<hr>
		<div class="col-sm-8">
			<div class="mobile-wrapper" ng-click="viewFullscreen($event)">
				<img lazy-load class="lazy-load" data-src-desktop="images/sitemap.jpg" data-src-mobile="images/sitemap_small.jpg" src="images/blank.gif"/>
				<noscript><img src="images/sitemap.png" /></noscript>
				<span class="resize"><span class="fa fa-expand"></span></span>
			</div>
		</div>
		<div class="col-sm-4">
				<p>Websites are like roads and the best way to get around them is to have a map. Here is a sitemap I did for a recent senior sales company and it shows how large some "small" sites can get.</p>

				<p>The orange bubbles represent pages and the blue actions or forms, the developers were adamant about this level of clarity.</p>

				<p>Understanding the lay of the land for your site or app is very important for communication especially for dev teams and clients.</p> 
				
				<h4>Also check out:</h4>
				<div class="list-group">
					<a class="list-group-item" href="http://communicatingdesign.com/" target="_blank">Dan Brown: Communicating Design <span class="fa fa-external-link"></span></a>
					<a class="list-group-item" href="http://www.nngroup.com/articles/workflow-expectations/" target="_blank">Jakob Nielsen: Workflow expectations <span class="fa fa-external-link"></span></a>
				</div>
				
		</div>

</div>
			