<h3>Example</h3>
	<div class="row">
		<div class="col-sm-6">
			<div class="mobile-wrapper" ng-click="viewFullscreen($event)">
				<img lazy-load class="lazy-load" data-src-desktop="images/persona.png" data-src-mobile="images/persona_small.jpg" src="images/blank.png" />
				<noscript><img src="images/persona.png" /></noscript>
				<span class="resize"><span class="fa fa-expand"></span></span>
			</div>
		</div>
		<div class="col-sm-6">
				<p>A recent flooring company client wanted to understand their customers better and begin redesigning their offerings based on the discovered needs, user centered design at its finest.</p>

				<p>What demographics don't tell you are your customer's concerns and goals. Here you can see a business owner and what he cares about along with a little history about him.</p>

				<p>This extra information was very helpful to the client because it kept the customer's needs in front of our decisions. Creating positive user experiences means finding the best path for the business and customer.</p> 
				
				<h4>Also check out:</h4>
				<div class="list-group">
					<a class="list-group-item" href="http://communicatingdesign.com/" target="_blank">Dan Brown: Communicating Design <span class="fa fa-external-link"></span></a>
					<a class="list-group-item" href="http://www.uie.com/articles/lirpps" target="_blank">Lightweight, Research-Based Principles, Personas, and Scenarios <span class="fa fa-external-link"></span></a>
				</div>
				
		</div>

</div>
			