<header class="inner" ng-include="'views/navigation.html'"></header>

<div class="container">
	<section class="development">
		<h2>Development</h2>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<p>I learned to code out of necessity. You see, back in the day, "UX" wasn't really an acknowledged thing and no one would pay for "user-centered thought leadership". Now, I really enjoy it and feel like it greatly benefits my other skills.</p>
				<p>I'm really excited about learning and will always try out something new to see what it can do. I know enough to be dangerous and love the ability to get to a working prototype so I can try out new ideas.</p>
				<div class="row icons">
					<div class="col-xs-4">
						<span class="fa fa-html5"></span>
					</div>
					<div class="col-xs-4">
						<span class="fa fa-css3"></span>
					</div>
					<div class="col-xs-4">
						<span class="js">JS</span>
					</div>
				</div>
				<p>I even built this site, check out my repo: <br><br>
					<a class="btn btn-primary btn-lg" href="https://github.com/adamelevate/My-Portfolio" target="_blank">
					<span class="fa fa-github"></span> My Portfolio
				</a></p>
	
			</div>
		</div>
		<hr>
		<h3>My Tools</h3>
		<div class="row">
			<div class="col-sm-4" ng-repeat="tech in technology">
				<a class="tech" href="{{tech.url}}" target="_blank">
					<div class="logo">
						<img src="images/logos/{{tech.logo}}"/>
					</div>
					<div class="text">
						<h3>{{tech.name}}</h3>
						<p>{{tech.description}}</p>
					</div>
				</a>
			</div>
		</div>
	</section>
</div>