<header class="inner" ng-include="'views/navigation.html'"></header>

<div class="container">
	<section class="leadership">
		<h2>Leadership</h2>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">		

				<p>I've always been very empathetic. I can understand people, put myself in their shoes and work out their position from their perspective. I'm not psychic, I'm just observant.</p>

				<p>I'm passionate about helping people, it's the only thing in life that is truly rewarding. Sometimes, people who need help, can't see how to improve their situation. That's where I come in. </p>

				<p>I think differently. I turn problems on their head to see what change falls out of their pockets.   I'm always asking "<a href='https://www.youtube.com/watch?v=qp0HIF3SfI4' target="_blank">Why, How, What</a>" , reframing a problem to get a better angle and burning the midnight oil to make the world a better place.</p>



			</div>
		</div>
		<hr>
			<h3>My Guiding Principles</h3>
			<p>I have some phrases that keep me level-headed and focused on doing what I do best:</p>
			<ul class="list-group">	
				<li class="list-group-item">Do the right thing, it's never too late.</li>
				<li class="list-group-item">Always know why. How else will you know what to do?</li>
				<li class="list-group-item">Think before you act, it matters.</li>
				<li class="list-group-item">Too Easy? You might have missed something.</li>
				<li class="list-group-item">Too Hard? You might be doing it wrong.</li>
				<li class="list-group-item">Everyone works for you, so ask for their support.</li>
				<li class="list-group-item">You work for everyone, so ask if they need support.</li>
				<li class="list-group-item">Nothing is beneath you, every job is important.</li>
			</ul>
		<hr>
		<h3>Read Some Books!</h3>
		<p>There are some things life can't teach you, that's when I turn to a great book. Apart from curiosity and failure, reading has exposed me to the awesome world of other people's ideas. </p>
		<div class="row">
				<div class="col-sm-4" ng-repeat="book in books">
					<a href="{{book.url}}" class="book">
						<div class="cover">
							<img src="images/books/{{book.cover}}">
						</div>
						<div class="text">
							<p>{{book.title}}</p>
						</div>
					</a>
				</div>
		</div>
	</section>
</div>
