<header>
  <h1>I'm Adam Lorentzen</h1>
  <h3>I connect people through authentic interactions</h3>
</header>
<section class="architecture">
  <div class="container">
    <div class="row">
      <h2>People Are Worth Helping</h2>
      <div class="col-sm-2"></div>
      <div class="col-sm-8"><span class="fa fa-thumbs-up"></span>
        <p>The only way to craft a positive and meaningful experience is to invest your time in your customer's problems. I believe good design is for everyone and we should work to make it more accessible.</p>
      </div>
    </div>
  </div>
</section>
<section class="me">
  <div class="container">
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-7">
        <h2>I wear many hats</h2>
        <p>and you'll usually find me in the middle of a group facilitating collaborative discussions or away from my desk building connections. </p>
        <p>For 10 years I've spent my time translating multiple languages: business, design, and development to ensure everyone stays on the same page. I do this because I believe we can <strong>intentionally</strong> create positive experiences.</p>
      </div>
    </div>
  </div>
</section>