<header>  
  <h1>I'm Adam Lorentzen</h1>
  <h3>I connect people through authentic interactions</h3>

</header>

<section class="methods">
  <div class="container">
    <div class="row">
      <h2>Methods Over Madness</h2>
      <div class="col-lg-8 col-lg-offset-2">
        <p>People think what I do is mystical. Well, it is, but you can do it too.</p>
        <div class="row">
          <div class="col-sm-4">
            <a class="btn btn-default card" href="#/leadership">
              <div class="fa fa-users"></div>
                <strong>Leadership</strong>
              <p>Intent, direction and keeping everyone together.</p> 
            </a> 
          </div>          
          <div class="col-sm-4">
            <a class="btn btn-default card" href="#/processes">
              <div class="fa fa-road"></div>
                <strong>Experience Planning</strong>
              <p>Understanding, empathy and mapping the path.</p>  
            </a>
          </div>          
          <div class="col-sm-4">
            <a class="btn btn-default card" href="#/development">
              <div class="fa fa-laptop"></div>
                <strong>Development</strong>
              <p>Code, Caffeine and always something to learn.</p>  
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>



<section class="me">
  <div class="container">
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-7">
        <h2>I wear many hats</h2>
        <p>and you'll usually find me in the middle of a group facilitating collaborative discussions or out networking and building connections.</p>
        <p>For 10 years I've spent my time translating multiple languages: business, design, and development. I do this because I believe we can <strong>intentionally</strong> create positive experiences if we're all on the same page.</p>
        <a href="Resume-Adam-Lorentzen.pdf" target="_blank"><span class="fa fa-file-text-o"></span> My Resume</a>
      </div>
    </div>
  </div>
</section>

<section class="architecture">
  <div class="container">
    <div class="row">
      <h2>People Are Worth Helping</h2>
      <div class="col-sm-8 col-sm-offset-2">
        <p>The only way to craft a positive and meaningful experience is to invest your time in your customer's problems. I believe good design is for everyone, and we should work to make it more accessible.</p>
        <hr>
          <div class="row connect">
            <div class="col-sm-8">
              <h3>Feel the same? Connect with me :)</h3>
            </div>
            <div class="col-sm-2 col-xs-6">
              <a href="https://twitter.com/adamelevate target="_blank> 
                <span class="fa fa-twitter"></span>
              </a>
            </div>
            <div class="col-sm-2 col-xs-6">
              <a href="http://www.linkedin.com/pub/adam-lorentzen/25/a90/661" target="_blank"> 
                <span class="fa fa-linkedin"></span>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
