<div class="wrap" ng-class="{'active':(active)}">
	<div class="container">
		<div class="row" ng-init="active = false">
			<div class="col-sm-6 col-sm-offset-3 col-xs-10">
				<a class="btn btn-link" href="/">
					<strong>Adam Lorentzen</strong>
					<span>Connecting people through authentic interactions</span>
				</a>
				<div class="row navigation" ng-controller="navCtrl">
					<div class="col-xs-3" ng-repeat="link in links">
						<a href="#/{{link.title}}" ng-class="navClass('{{link.title}}')">
							<span class="fa {{link.icon}}"></span>
							<div>{{link.text}}</div>
						</a>
					</div>
				</div>

			</div>
			<div class="col-sm-3 col-xs-2">
				<button class="" id="showMenu" ng-click="active = true" ng-hide="active == true">
					<span class="fa fa-bars"></span>
				</button>
				<button class="" id="showMenu" ng-click="active = false" ng-hide="active == false">
					<span class="fa fa-times"></span>
				</button>
			</div>
		</div>
	</div>
</div>