<header class="inner" ng-include="'views/navigation.html'"></header>

<div class="container">
	<section class="processes">
		<h2>Experience Planning</h2>
		<div class="row">
			<div ng-repeat="process in processes" class="col-xs-3">
				<button class="btn btn-default process" 
					ng-class="{'chosen':(chosen.title == process.title)}" 
					ng-click="chooseProcess(process)"
					>
					<span class="fa {{process.icon}}"></span>
					<h3>{{process.title}}</h3>
				</button>
			</div>
		</div>
		<div class="process-detail" ng-show="chosen != ''">
				<div class="wrapper">
			 		<h3>{{chosen.title}}</h3>
			 		<p>{{chosen.description}}</p>
			 	</div>
			 	<div class="story" ng-include="chosen.story">
					<h3>Examples</h3>
				</div>
		</div>
	</section>
</div>

