<header class="inner">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 col-xs-9">
			<a class="btn btn-link" href="/">
				<strong>Adam Lorentzen</strong>
				<span>Connecting people through authentic interactions</span>
			</a>
		</div>
		<div class="col-sm-3 col-xs-3">
			<button class="" id="showMenu">
				<span class="fa fa-bars"></span>
			</button>
		</div>
	</div>
</header>
<section class="processes">
	<div class="container">
		<h2>Experience Planning</h2>
		<div class="row">
			<div ng-repeat="process in processes" class="col-xs-3">
				<button class="btn btn-default process" 
					ng-class="{'chosen':(chosen.title == process.title)}" 
					ng-click="chooseProcess(process)"
					>
					<span class="fa {{process.icon}}"></span>
					<h3>{{process.title}}</h3>
				</button>
			</div>
		</div>
		<div class="process-detail" ng-show="chosen != ''">
			<div class="row" >
				<div class="col-sm-12">
					<div class="wrapper">
				 		<h3>{{chosen.title}}</h3>
				 		<p>{{chosen.description}}</p>
				 	</div>
				 	<div class="story" ng-include="chosen.story">
						<h3>Examples</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

